In [1]:
import sqlite3
import pandas as pd

### Ant

In [ ]:
{'FREQUENCIA (HZ)': 'FREQUENCIA (HZ)', 'TENSAO NOMINAL MIN/MAX (V)': 'TENSAO NOMINAL MIN/MAX (V)', 'MATERIAL CARCACA': 'TORQUE SAIDA (NM)', 'TIPO CARCACA': 'TIPO EIXO SAIDA', 'REDUCAO': 'REDUCAO (I)', 'TORQUE SAIDA': 'TORQUE SAIDA (NM)', 'TIPO EIXO SAIDA': 'TIPO EIXO SAIDA', 'DIAMETRO EIXO SAIDA': 'DIAMETRO EIXO SAIDA (MM)', 'POSICAO EIXO SAIDA': 'POSICAO EIXO SAIDA', 'GRAU PROTECAO (IP)': 'GRAU PROTECAO (IP)', 'CONTRA RECUO': 'CONTRA RECUO', 'FIXACAO REDUTOR': 'FIXACAO REDUTOR', 'TIPO ACIONAMENTO': 'TIPO ACIONAMENTO', 'ROTACAO ACIONAMENTO': 'ROTACAO ACIONAMENTO (RPM)', 'POTENCIA MOTOR (KW)': 'POTENCIA MOTOR (KW)', 'POTENCIA MOTOR': 'POTENCIA MOTOR (KW)', 'NUMERO POLOS': 'NUMERO POLOS', 'ROTACAO ACIONAMENTO (RPM)': 'ROTACAO ACIONAMENTO (RPM)', 'MODELO CARCACA MOTOR': 'MODELO CARCACA MOTOR', 'MODELO CARCACA REDUTOR': 'MODELO CARCACA REDUTOR', 'FATOR SERVICO': 'FATOR SERVICO MOTOR', 'GRAU PROTECAO': 'GRAU PROTECAO (IP)', 'CLASSE ISOLACAO': 'CLASSE ISOLACAO', 'TENSAO NOMINAL': 'TENSAO NOMINAL MIN/MAX (V)', 'FREQUENCIA': 'FREQUENCIA (HZ)', 'FREIO': 'FREIO', 'OPCIONAIS MOTOR': 'OPCIONAIS MOTOR', 'FABRICANTE-REFERENCIA': 'FABRICANTE-REFERENCIA', 'FABRICANTE': 'FABRICANTE', 'REFERENCIA': 'REFERENCIA', 'REDUCAO (I)': 'REDUCAO (I)', 'TORQUE SAIDA (NM)': 'TORQUE SAIDA (NM)', 'DIAMETRO EIXO SAIDA (MM)': 'DIAMETRO EIXO SAIDA (MM)', 'POSICAO MONTAGEM': 'POSICAO MONTAGEM'}

In [6]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT COD_ITEM, NEW_SHORT_TEXT, OBSERV, NEW_LONG_TEXT, LONG_TEXT FROM ITENS WHERE STATUS != '' AND NEW_LONG_TEXT LIKE 'MOTOR%' ORDER BY NEW_SHORT_TEXT ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(3)

,COD_ITEM,NEW_SHORT_TEXT,OBSERV,NEW_LONG_TEXT,LONG_TEXT
0,80114432,"MOTOR 1/40-8MHP 2F 220V 0,005/0,032KW 1770RPM","NUMERO POLOS, FATOR SERVICO, DIAMETRO EIXO (MM)",MOTOR ELETRICO CORRENTE ALTERNADA; MODELO CARC...,MOTOR ELETRICO CORRENTE ALTERNADA;MODELO CARCA...
1,80095181,"MOTOR 100L 2F 220V 1,32KW",ROTACAO POR MINUTO (RPM),MOTOR ELETRICO CORRENTE ALTERNADA; MODELO CARC...,MOTOR ELETRICO CORRENTE ALTERNADA;MODELO CARCA...
2,80106460,"MOTOR 100L 3F 220/440V 2,2KW",ROTACAO POR MINUTO (RPM),MOTOR ELETRICO CORRENTE ALTERNADA; MODELO CARC...,MOTOR ELETRICO CORRENTE ALTERNADA;MODELO CARCA...

In [8]:
df_atua = df.rename(columns={"COD_ITEM": "Material", "NEW_SHORT_TEXT": "DescCurta", "OBSERV": "CaractFaltante", "NEW_LONG_TEXT": "NovoTextoLongo", "LONG_TEXT": "TextoLongoAntigo"})

In [15]:
df_atua["N_C"] = df_atua["DescCurta"].apply(len)
df_atua = df_atua[['Material', 'DescCurta', 'N_C', 'CaractFaltante', 'NovoTextoLongo', 'TextoLongoAntigo']]
df_atua.to_excel("Motor e Motorredutor.xlsx", index=False)

In [16]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT CODIGO, TEXTO_LONGO FROM MATERIAIS ORDER BY TEXTO_LONGO ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(3)

     CODIGO                                        TEXTO_LONGO
0  80024982   ACOPLAMENTO FLEXIVEL; ELEMENTO ELASTICO: LAMI...
1  80117124   AFIADOR CORRENTE MOTOSSERRA/ELETROSSERRA;APLI...
2  80117140   ANEL VEDACAO;MODELO PERFIL: ORING ; MATERIAL:...

In [37]:
df_status = pd.read_excel(r"EXPORT.XLSX", dtype=str)

df_status.head(3)

   Material  SM
0  80044639  Z2
1  80041359  Z2
2  80041325  Z2

In [47]:
df_status.rename(columns={"Material": "COD_ITEM"}, inplace=True)

In [48]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152201 entries, 0 to 152200
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   COD_ITEM  152201 non-null  object
 1   SM        134004 non-null  object
dtypes: object(2)
memory usage: 7.5+ MB

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124614 entries, 0 to 124613
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   COD_ITEM            124614 non-null  object
 1   LONG_TEXT           124614 non-null  object
 2   NEW_SHORT_TEXT      124614 non-null  object
 3   NEW_LONG_TEXT       124614 non-null  object
 4   DICT_NEW_LONG_TEXT  124614 non-null  object
 5   OBSERV              124614 non-null  object
 6   STATUS              124614 non-null  object
dtypes: object(7)
memory usage: 6.7+ MB

In [51]:
df = df.merge(df_status, how="left")

In [54]:
df = df[['COD_ITEM', 'SM', 'LONG_TEXT', 'NEW_SHORT_TEXT', 'NEW_LONG_TEXT',
       'DICT_NEW_LONG_TEXT', 'OBSERV', 'STATUS']]

In [55]:
df.columns

Index(['COD_ITEM', 'SM', 'LONG_TEXT', 'NEW_SHORT_TEXT', 'NEW_LONG_TEXT',
       'DICT_NEW_LONG_TEXT', 'OBSERV', 'STATUS'],
      dtype='object')

In [18]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT * FROM ITENS ORDER BY LONG_TEXT ASC"
conn = sqlite3.connect(str_path)
df_db = pd.read_sql(str_sql, conn)

conn.close()
df_db.head(3)

,COD_ITEM,LONG_TEXT,NEW_SHORT_TEXT,NEW_LONG_TEXT,DICT_NEW_LONG_TEXT,OBSERV,STATUS
0,80054698,MOTORREDUTOR; TIPO CONSTRUTIVO: DUPLO; TIPO RE...,"MOTORRED FA127 DRE112M 428 4P 4,5KW",MOTORREDUTOR; MODELO CARCACA REDUTOR: FA127; M...,"{'MODELO CARCACA REDUTOR': ['FA127', 'FA127', ...",POSICAO MONTAGEM,review
1,80053624,MOTORREDUTOR; TIPO CONSTRUTIVO: DUPLO; TIPO RE...,"MOTORRED KA87/R57 DRS71M 1078 4P 0,55KW",MOTORREDUTOR; MODELO CARCACA REDUTOR: KA87/R57...,"{'MODELO CARCACA REDUTOR': ['KA87/R57', 'KA87/...",POSICAO MONTAGEM,review
2,80054633,MOTORREDUTOR; TIPO CONSTRUTIVO: DUPLO; TIPO RE...,,,,,

In [21]:
df.rename(columns={"CODIGO": "COD_ITEM", "TEXTO_LONGO": "LONG_TEXT"}, inplace=True)

In [24]:
list(df_db.columns[2:])

['NEW_SHORT_TEXT', 'NEW_LONG_TEXT', 'DICT_NEW_LONG_TEXT', 'OBSERV', 'STATUS']

In [25]:
df[list(df_db.columns[2:])] = ""

In [59]:
df.fillna("", inplace=True)

In [62]:
df["LONG_TEXT"] = df["LONG_TEXT"].apply(str.strip)

In [64]:
str_path = r"..\db\db_itens_revision.db"
conn = sqlite3.connect(str_path)
df.to_sql("ITENS", conn, if_exists="replace", index=False)

conn.close()

In [34]:
df["COD_ITEM"].to_excel("ItensGerais.xlsx", index=False)

In [28]:
df_atua = pd.DataFrame(columns=list(df.columns[:4])+["EST_PD"])
df_atua

Empty DataFrame
Columns: [COD_ITEM, LONG_TEXT, NEW_SHORT_TEXT, NEW_LONG_TEXT, EST_PD]
Index: []

In [ ]:
df_atua = pd.DataFrame(columns=list(df.columns[:4])+["EST_PD"])
columns = df.columns
for row in df.index:
    dict_pd = {"caract": [], "desc_curt": [], "sep": []}
    for i in range(len(columns)):
        if "CARACT" in columns[i] and df.loc[row, columns[i]] != "":
            dict_pd["caract"].append(df.loc[row, columns[i]])
            dict_pd["desc_curt"].append(df.loc[row, columns[i+35]])
            dict_pd["sep"].append(df.loc[row, columns[i+70]])
        elif  "CARACT" in columns[i] and df.loc[row, columns[i]] == "":
            dict_pd["caract"].append("N/A")
            dict_pd["desc_curt"].append('0')
            dict_pd["sep"].append('')
            
    df_atua.loc[len(df_atua), ["OID", "ABREVPD", "PD", "TITULORED", "EST_PD"]] = list(df.loc[row, ["OID", "ABREVPD", "PD", "TITULORED"]].values)+[str(dict_pd)]

In [58]:
str_path = r"..\db\db_itens_revision.db"
conn = sqlite3.connect(str_path)
df_atua.to_sql("PD_CARACT2", conn, if_exists="replace", index=False)

conn.close()

In [73]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT * FROM PD_CARACT2"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(3)

,OID,ABREVPD,PD,TITULORED,EST_PD
0,19ac75b870d444cc90062ac1f2503cf4,01-SVNAT,SISTEMA VENTILACAO NATURAL,SISTEMA VENTIL NAT,"{'caract': ['MODELO', 'COMPOSICAO SISTEMA', 'D..."
1,56b52e6484fe48dcae8909fafbcc63b1,01-EPCAB,ESTEIRA PORTA CABO,ESTEIRA PORTA CABO,"{'caract': ['MATERIAL', 'RAIO CURVATURA', 'LAR..."
2,1c82ed90e8ef45048978c34ef4ed9e66,01-GFIXC,GRAMPO FIXACAO C-MARCENEIRO,GRAMPO FIXACAO C,"{'caract': ['MATERIAL CORPO', 'ACABAMENTO/TRAT..."

In [38]:
df_pd_caract = pd.read_excel("PD e Características.xlsx")

In [39]:
df_pd_caract.drop(columns=["IDPD2", "TITULOREDUZIDO"], inplace=True)

In [40]:
df_pd_caract.fillna("", inplace=True)

C:\Users\mhnc010337\AppData\Local\Temp\2\ipykernel_4476\1615788500.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_pd_caract.fillna("", inplace=True)

In [41]:
df_atua = pd.DataFrame(columns=list(df_pd_caract.columns[:3])+["EST_PD"])
df_atua

Empty DataFrame
Columns: [ABREVPD, PD, TITULORED, EST_PD]
Index: []

In [5]:
from datetime import datetime

In [11]:
data_atual = datetime.now()
data_registro = datetime.strftime(data_atual, "%Y.%m.%d")
data_registro

'2024.07.05'

In [70]:
df_atua = pd.DataFrame(columns=list(df_pd_caract.columns[:3])+["EST_PD"])
columns = df_pd_caract.columns
for row in df_pd_caract.index:
    dict_pd = {"caract": [], "desc_curt": [], "desc_man":[], "adic": [], "sep": []}
    for i in range(len(columns)):
        if "CARACT" in columns[i] and df_pd_caract.loc[row, columns[i]] != "":
            dict_pd["caract"].append(df_pd_caract.loc[row, columns[i]])
            dict_pd["desc_curt"].append(df_pd_caract.loc[row, columns[i+35]])            
            dict_pd["desc_man"].append(df_pd_caract.loc[row, columns[i+70]])
            dict_pd["adic"].append(df_pd_caract.loc[row, columns[i+140]])
            dict_pd["sep"].append(df_pd_caract.loc[row, columns[i+210]])
            
        elif  "CARACT" in columns[i] and df_pd_caract.loc[row, columns[i]] == "":
            dict_pd["caract"].append("N/A")
            dict_pd["desc_curt"].append(0)
            dict_pd["desc_man"].append(0)
            dict_pd["adic"].append(0)
            dict_pd["sep"].append('')
            
    df_atua.loc[len(df_atua), ["ABREVPD", "PD", "TITULORED", "EST_PD"]] = list(df_pd_caract.loc[row, ["ABREVPD", "PD", "TITULORED"]].values)+[str(dict_pd)]

In [71]:
df_atua.loc[0, "EST_PD"]

"{'caract': ['MODELO ABAFADOR', 'CABO', 'MATERIAL CABO', 'COMPRIMENTO CABO', 'DIMENSOES ABAFADOR', 'CARACTERISTICAS ADICIONAIS', 'FABRICANTE-REFERENCIA', 'FABRICANTE', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A'], 'desc_curt': [1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'desc_man': [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'adic': [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'sep': ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']}"

In [ ]:
i = 3
# print(df_pd_caract.loc[row, columns[i]])
# print(df_pd_caract.loc[row, columns[i+35]])
# print(df_pd_caract.loc[row, columns[i+70]])
# print(df_pd_caract.loc[row, columns[i+105]])
# print(df_pd_caract.loc[row, columns[i+140]])
# print(df_pd_caract.loc[row, columns[i+175]])
print(df_pd_caract.loc[row, columns[i+210]])

In [ ]:
df_atua_comp = df_atua.merge(df[["OID", "ABREVPD"]], how="left")
df_atua_comp.fillna("", inplace=True)
df_atua_comp = df_atua_comp[["OID", "ABREVPD", "PD", "TITULORED", "EST_PD"]]
df_atua_comp[["NEW_EST_PD", "ST_REV"]] = ""
df_atua_comp

In [75]:
str_path = r"..\db\db_itens_revision.db"
conn = sqlite3.connect(str_path)
df_atua_comp.to_sql("PD_CARACT_ANT", conn, if_exists="replace", index=False)

conn.close()

In [2]:
df_caract = pd.read_excel("CARACT.xlsx")

In [4]:
str_path = r"..\db\db_itens_revision.db"
conn = sqlite3.connect(str_path)
df_caract.to_sql("CARACT", conn, if_exists="replace", index=False)

conn.close()

In [5]:
df_caract = pd.read_excel("Cont.xlsx", dtype=str)

In [6]:
df_caract.fillna("", inplace=True)
df_caract

,PD_ABREV,PD,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,CHAVE_CONT
0,01-CPOTE,CONTATOR MANOBRA POTENCIA,CONTATO AUXILIAR,1NO+1NC,1NO+1NC,,1NO+1NC
1,01-CPOTE,CONTATOR MANOBRA POTENCIA,CONTATO AUXILIAR,1NA,1NA,,1NA
2,01-CPOTE,CONTATOR MANOBRA POTENCIA,CONTATO AUXILIAR,1NA+1NF,1NA+1NF,,1NA+1NF
3,01-CPOTE,CONTATOR MANOBRA POTENCIA,CONTATO AUXILIAR,1NF,1NF,,1NF
4,01-CPOTE,CONTATOR MANOBRA POTENCIA,CONTATO AUXILIAR,2NA,2NA,,2NA
...,...,...,...,...,...,...,...
487,01-CPOTE,CONTATOR MANOBRA POTENCIA,TENSAO BOBINA,48,48,VCA,48VCA
488,01-CPOTE,CONTATOR MANOBRA POTENCIA,TENSAO BOBINA,600,600,VCA,600VCA
489,01-CPOTE,CONTATOR MANOBRA POTENCIA,TENSAO BOBINA,690,690,VCA,690V
490,01-CPOTE,CONTATOR MANOBRA POTENCIA,TERMINAL LIGACAO,MOLA,MOLA,,MOLA
491,01-CPOTE,CONTATOR MANOBRA POTENCIA,TERMINAL LIGACAO,PARAFUSO,PARAFUSO,,PARAFUSO

In [75]:
df_caract["CHAVE_CONT"] = df_caract["DESC_LONGA"] + df_caract["SIGLA"]

In [74]:
df_caract.head(3)

,PD_ABREV,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,CHAVE_CONT
0,01-CPOTE,CARACTERISTICAS ADICIONAIS,CONTATOR SEGURANCA,CONTATOR SEGURANCA,,CONTATORSEGURANCA
1,01-CPOTE,CARACTERISTICAS ADICIONAIS,TAMANHO S0,TAMANHO S0,,TAMANHOS0
2,01-CPOTE,CONTATO AUXILIAR,2NA+3NF,2NA+3NF,,2NA+3NF

In [80]:
def cart_un(value):
    return "".join(value.split())

df_caract["CHAVE_CONT"] = df_caract["CHAVE_CONT"].apply(cart_un)

,PD_ABREV,PD,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,UN. MEDIDA,CHAVE_CONT
0,01-CPROT,CAPUZ PROTECAO,ABA,COM ABA,COM ABA,,,COMABA
1,01-TUBET,TUBETE MUDA PLANTA,ABA,S/ABA,S/ABA,,,S/ABA
2,01-CPROT,CAPUZ PROTECAO,ABA,SEM ABA,SEM ABA,,,SEMABA
3,01-KARUI,"ABAFADOR RUIDO, CONJUNTO",ABA CAPACETE,ABA FRONTAL,ABA FRONTAL,,,ABAFRONTAL
4,01-CAJUS,CHAVE AJUSTAVEL/INGLESA,ABERTURA,1.1/2 (39MM),1.1/2,"""",POLEGADA,"1.1/2(39MM)"""
...,...,...,...,...,...,...,...,...
191339,01-MICRC,MICROSCOPIO,ZOOM OCULAR,800X,800X,,,800X
191340,01-MICRC,MICROSCOPIO,ZOOM OCULAR,80X,80X,,,80X
191341,01-CFDII,CAMERA FILMADORA DIGITAL,ZOOM OPTICO,3X,3X,,,3X
191342,01-CFDII,CAMERA FILMADORA DIGITAL,ZOOM OPTICO,5X,5X,,,5X
191343,01-CFDII,CAMERA FILMADORA DIGITAL,ZOOM OPTICO,8X,8X,,,8X

In [82]:
df_caract.columns

Index(['PD_ABREV', 'PD', 'CARACTERISTICA', 'DESC_LONGA', 'DESC_CURTA', 'SIGLA',
       'UN. MEDIDA', 'CHAVE_CONT'],
      dtype='object')

In [12]:
str_path = r"..\db\db_itens_revision.db"
conn = sqlite3.connect(str_path)
df_caract.to_sql("PD_CARAC_CONT", conn, if_exists="append", index=False)

conn.close()

In [7]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT * FROM PD_CARACT ORDER BY PD ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(3)

,OID,ABREVPD,PD,TITULORED,EST_PD,EST_PD_ANT,DE_PARA,DT_REV,ST_REV
0,872e9c5473f543a6aeb12f3d3be514ec,01-AMINC,ABAFADOR MANUAL INCENDIO,,"{'caract': ['MODELO ABAFADOR', 'CABO', 'MATERI...",,,,
1,b2410589ee634922b759d929b9730b2b,01-ARUID,ABAFADOR RUIDO CONCHA,ABAFADOR RUIDO CONCHA,"{'caract': ['FORMATO CONCHA', 'MATERIAL CONCHA...",,,,
2,042f4e94a2e84cf6ac2eecd12cae7169,01-KARUI,"ABAFADOR RUIDO, CONJUNTO","ABAFADOR RUIDO,CJ","{'caract': ['FORMATO CONCHA', 'MATERIAL CONCHA...",,,,

In [9]:
df_dict = eval(df.loc[0, "EST_PD"])

In [27]:
lista_pd = []
for i in df.index:
    abrev = df.loc[i, "ABREVPD"]
    pd_str = df.loc[i, "PD"]
    df_dict = eval(df.loc[i, "EST_PD"])
    for carc in df_dict["caract"]:
        if carc == "N/A":
            break
        elif carc not in ["FABRICANTE-REFERENCIA", "FABRICANTE"]:
            lista_pd.append([abrev, pd_str, carc, "Novo Conteudo", "", 0, "", ""])

            


df_pd = pd.DataFrame(lista_pd,columns=["PD Abrev", "PD", "Característica", "Descrição Longa", "Descrição Curta ", "Unidade de Medida ?", "Sigla", "Unidade de Medida"])
df_pd

,PD Abrev,PD,Característica,Descrição Longa,Descrição Curta,Unidade de Medida ?,Sigla,Unidade de Medida
0,01-AMINC,ABAFADOR MANUAL INCENDIO,MODELO ABAFADOR,Novo Conteudo,,0,,
1,01-AMINC,ABAFADOR MANUAL INCENDIO,CABO,Novo Conteudo,,0,,
2,01-AMINC,ABAFADOR MANUAL INCENDIO,MATERIAL CABO,Novo Conteudo,,0,,
3,01-AMINC,ABAFADOR MANUAL INCENDIO,COMPRIMENTO CABO,Novo Conteudo,,0,,
4,01-AMINC,ABAFADOR MANUAL INCENDIO,DIMENSOES ABAFADOR,Novo Conteudo,,0,,
...,...,...,...,...,...,...,...,...
19656,01-WEBCA,WEBCAM,INTERFACE,Novo Conteudo,,0,,
19657,01-WEBCA,WEBCAM,MICROFONE,Novo Conteudo,,0,,
19658,01-WEBCA,WEBCAM,FIXACAO,Novo Conteudo,,0,,
19659,01-WEBCA,WEBCAM,FOCO,Novo Conteudo,,0,,
19660,01-WEBCA,WEBCAM,CARACTERISTICAS ADICIONAIS,Novo Conteudo,,0,,

In [28]:
df_pd.to_excel("ListaPDNovoCont.xlsx", sheet_name="PLAN", index=False)

### Novo

In [ ]:
import sqlite3

def get_table_names(cursor):
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    return [row[0] for row in cursor.fetchall()]

def get_column_names(cursor, table_name):
    cursor.execute(f"PRAGMA table_info({table_name});")
    return [row[1] for row in cursor.fetchall()]

def main(database_path):
    # Conectar ao banco de dados
    conn = sqlite3.connect(database_path)
    cursor = conn.cursor()

    # Pegar os nomes das tabelas
    table_names = get_table_names(cursor)
    print("Tabelas no banco de dados:")
    for table in table_names:
        print(f"- {table}")

        # Pegar os nomes das colunas para cada tabela
        column_names = get_column_names(cursor, table)
        print(f"  Colunas na tabela {table}:")
        for column in column_names:
            print(f"    - {column}")

    # Fechar a conexão com o banco de dados
    conn.close()

# Substitua 'seu_banco_de_dados.db' pelo caminho do seu arquivo de banco de dados SQLite
main(r"..\db\db_itens_revision.db")

In [9]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"PRAGMA table_info(ITENS)"
conn = sqlite3.connect(str_path)
cursor = conn.cursor()
cursor.execute(str_sql)
print([row[1] for row in cursor.fetchall()])

conn.close()

['COD_ITEM', 'SM', 'LONG_TEXT', 'NEW_SHORT_TEXT', 'NEW_LONG_TEXT', 'DICT_NEW_LONG_TEXT', 'OBSERV', 'STATUS', 'DT']

In [2]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT * FROM PD_CARAC_CONT"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(3)

,PD_ABREV,PD,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,CHAVE_CONT
0,01-CPROT,CAPUZ PROTECAO,ABA,COM ABA,COM ABA,,COMABA
1,01-TUBET,TUBETE MUDA PLANTA,ABA,S/ABA,S/ABA,,S/ABA
2,01-CPROT,CAPUZ PROTECAO,ABA,SEM ABA,SEM ABA,,SEMABA

In [3]:
df_cont = pd.read_excel("../NovosConteudos.xlsx", dtype=str)
df_cont.fillna("", inplace=True)
df_cont.drop_duplicates(ignore_index=True, inplace=True)
df_cont.sort_values(by="DESC_LONGA", ignore_index=True, inplace=True)
df_cont = df_cont[df_cont["DESC_LONGA"]!=""].reset_index(drop=True)
df_cont.head(3)

,PD_ABREV,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,CHAVE_CONT
0,01-PSINC,LARGURA CANAL CORREIA,25,25,MM,25MILIMETRO
1,01-PSINC,TIPO BUCHA,3020/60,3020/60,,3020/60
2,01-PSINC,DIAMETRO CUBO,35,35,MM,35MILIMETROCUBICO

In [4]:
df_cont["PD"] = "POLIA SINCRONIZADORA"

In [5]:
df_nov_cont = df_cont[df.columns]
df_nov_cont.fillna("", inplace=True)
df_nov_cont

,PD_ABREV,PD,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,CHAVE_CONT
0,01-PSINC,POLIA SINCRONIZADORA,LARGURA CANAL CORREIA,25,25,MM,25MILIMETRO
1,01-PSINC,POLIA SINCRONIZADORA,TIPO BUCHA,3020/60,3020/60,,3020/60
2,01-PSINC,POLIA SINCRONIZADORA,DIAMETRO CUBO,35,35,MM,35MILIMETROCUBICO
3,01-PSINC,POLIA SINCRONIZADORA,TIPO BUCHA,3525/65,3525/65,,3525/65
4,01-PSINC,POLIA SINCRONIZADORA,DIAMETRO PASSO,48,48,MM,48MILIMETRO
5,01-PSINC,POLIA SINCRONIZADORA,PASSO,5,5,MM,5MILIMETRO
6,01-PSINC,POLIA SINCRONIZADORA,LARGURA TOTAL,52,52,MM,52MILIMETRO
7,01-PSINC,POLIA SINCRONIZADORA,DIAMETRO PASSO,56.02,56.02,MM,"56,02MM"
8,01-PSINC,POLIA SINCRONIZADORA,BUCHA,ANEL DE FIXACAO IMETEX 7012,ANEL DE FIXACAO IMETEX 7012,,ANELDEFIXACAOIMETEX7012
9,01-PSINC,POLIA SINCRONIZADORA,BUCHA,COM ANEL DE FIXACAO IMETEX 7012,COM ANEL DE FIXACAO IMETEX 7012,,COMANELDEFIXACAOIMETEX7012
10,01-PSINC,POLIA SINCRONIZADORA,CARACTERISTICAS ADICIONAIS,MACICA SEM ABAS LATERAIS COM GUIA CENTRAL K13,MACICA SEM ABAS LATERAIS COM GUIA CENTRAL K13,,MACICASEMABASLATERAISCOMGUIACENTRALK13

In [6]:
str_path = r"..\db\db_itens_revision.db"
conn = sqlite3.connect(str_path)
df_nov_cont.to_sql("PD_CARAC_CONT", conn, if_exists="append", index=False)

conn.close()

In [ ]:
{'NUMERO FASES': ['NUMERO FASES', ''], 'FREQUENCIA': ['FREQUENCIA (HZ)', ''], 'TENSAO NOMINAL (MIN/MAX)': ['TENSAO OPERACAO MIN/MAX (V)', ''], 'TENSAO OPERACAO': ['TENSAO OPERACAO MIN/MAX (V)', ''], 'TENSAO NOMINAL': ['TENSAO OPERACAO MIN/MAX (V)', ''], 'POTENCIA': ['POTENCIA (KW)', ''], 'NUMERO POLOS': ['NUMERO POLOS', ''], 'CLASSE ISOLAMENTO TERMICO': ['CLASSE ISOLAMENTO TERMICO', ''], 'MATERIAL CARCACA': ['MATERIAL CARCACA', ''], 'MODELO CARCACA': ['MODELO CARCACA', ''], 'TIPO FLANGE': ['TIPO FLANGE', ''], 'FORMA CONSTRUTIVA': ['FORMA CONSTRUTIVA', ''], 'ROTACAO POR MINUTO (RPM)': ['ROTACAO POR MINUTO (RPM)', ''], 'RPM': ['ROTACAO POR MINUTO (RPM)', ''], 'FATOR SERVICO': ['FATOR SERVICO', ''], 'TIPO EIXO': ['TIPO EIXO', ''], 'DIAMETRO EIXO': ['DIAMETRO EIXO (MM)', ''], 'DIAMETRO EIXO (MM)': ['DIAMETRO EIXO (MM)', ''], 'GRAU PROTECAO CARCACA (IP)': ['GRAU PROTECAO CARCACA (IP)', ''], 'GRAU PROTECAO CARCACA': ['GRAU PROTECAO CARCACA (IP)', ''], 'CARACTERISTICAS ADICIONAIS': ['CARACTERISTICAS ADICIONAIS', ''], 'FABRICANTE-REFERENCIA': ['FABRICANTE-REFERENCIA', ''], 'FABRICANTE': ['FABRICANTE', ''], 'FREQUENCIA (HZ)': ['FREQUENCIA (HZ)', ''], 'TENSAO OPERACAO MIN/MAX (V)': ['TENSAO OPERACAO MIN/MAX (V)', ''], 'POTENCIA (KW)': ['POTENCIA (KW)', ''], 'REFERENCIA': ['REFERENCIA', '']}

In [1]:
valor = "TROCADORCALORAR-AR (IC6 ' FERROFUNDIDO".replace("'", "\\'")

print(f'{valor}')

TROCADORCALORAR-AR (IC6 \' FERROFUNDIDO

### Valida Itens Cadastrados DB

In [113]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT * FROM ITENS WHERE (LONG_TEXT LIKE 'MOTOR ELE%' OR  LONG_TEXT LIKE 'MOTORRED%') AND SM = 'Z2' ORDER BY NEW_LONG_TEXT ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811 entries, 0 to 810
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COD_ITEM            811 non-null    object
 1   SM                  811 non-null    object
 2   LONG_TEXT           811 non-null    object
 3   NEW_SHORT_TEXT      811 non-null    object
 4   NEW_LONG_TEXT       811 non-null    object
 5   DICT_NEW_LONG_TEXT  811 non-null    object
 6   OBSERV              811 non-null    object
 7   STATUS              811 non-null    object
 8   DT                  811 non-null    object
dtypes: object(9)
memory usage: 57.2+ KB

In [ ]:
df_motor = df[df["NEW_SHORT_TEXT"].str.startswith("MOTOR ")]
df_motred = df[df["NEW_SHORT_TEXT"].str.startswith("MOTORRED")]
df_motred

In [116]:
chaves_columns = {'LONG_TEXT': 'Texto Longo Antigo', 'NEW_SHORT_TEXT': 'Novo Texto Curto', 'NEW_LONG_TEXT': 'Novo Texto Longo'}
df_motred.rename(columns=chaves_columns, inplace=True)
df_motor.rename(columns=chaves_columns, inplace=True)

C:\Users\mhnc010337\AppData\Local\Temp\2\ipykernel_8736\583923194.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_motred.rename(columns=chaves_columns, inplace=True)
C:\Users\mhnc010337\AppData\Local\Temp\2\ipykernel_8736\583923194.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_motor.rename(columns=chaves_columns, inplace=True)

In [117]:
df_motred = df_motred[['COD_ITEM', 'SM', 'Texto Longo Antigo', 'Novo Texto Curto', 'Novo Texto Longo', 'OBSERV']]
df_motor = df_motor[['COD_ITEM', 'SM', 'Texto Longo Antigo', 'Novo Texto Curto', 'Novo Texto Longo', 'OBSERV']]

In [103]:
df_motor.loc[5, 'Texto Longo Antigo']

'MOTOR ELETRICO CORRENTE ALTERNADA;MODELO CARCACA: 100L ; NUMERO FASES: 3F ; FREQUENCIA: 50/60 HZ ; TENSAO OPERACAO: 230/460 V ; POTENCIA: 0,75 KW ; NUMERO POLOS: 8 POLOS ; CLASSE ISOLAMENTO TERMICO: F (155°C) ; MATERIAL CARCACA: ALUMINIO ; TIPO FLANGE: FF ; FORMA CONSTRUTIVA: B5 ; TIPO EIXO: CHAVETADO ; DIAMETRO EIXO: 28 MM ; GRAU PROTECAO CARCACA: IP- 55 ; CARACTERISTICAS ADICIONAIS: REGIME SERVICO: S1 , SISTEMA REFRIGERACAO: IC411-TFVE , NORMA FABRICACAO: IEC 60034 ; REFERENCIA: 1LE10011AD422FA4-Z ; FABRICANTE: SIEMENS ; FABRICANTE-REFERENCIA: SIEMENS-1LE10011AD422FA4-Z ;'

In [118]:
print(df_motred.columns)
print(df_motor.columns)

Index(['COD_ITEM', 'SM', 'Texto Longo Antigo', 'Novo Texto Curto',
       'Novo Texto Longo', 'OBSERV'],
      dtype='object')
Index(['COD_ITEM', 'SM', 'Texto Longo Antigo', 'Novo Texto Curto',
       'Novo Texto Longo', 'OBSERV'],
      dtype='object')

In [119]:
file_path = 'RevPadMotor&Motorred.xlsx'

with pd.ExcelWriter(file_path) as writer:
    df_motred.to_excel(writer, sheet_name="MOTORRED", index=False)
    df_motor.to_excel(writer, sheet_name="MOTOR", index=False)

### Atualizar base

In [1]:
import sqlite3
import pandas as pd

In [27]:
df_mot = pd.read_excel("CONTATOR MANOBRA POTENCIA.xlsx", dtype=str)
df_mot.head(3)

,CODIGO,TP_MAT,GRP_MERC,DESC_CURTA,TEXTO_LONGO,CHAVE
0,80034027,ERSA,MAT016,CONTATOR POT C43DJ10 3P 24VCC,CONTATOR MANOBRA POTENCIA; MODELO: C43DJ10; NU...,CONTATORPOTC43DJ103P24VCCCONTATORMANOBRAPOTENC...
1,80034028,ERSA,MAT016,CONTATOR POT DILM80 3P 220VCA,CONTATOR MANOBRA POTENCIA; MODELO: DILM80; NUM...,CONTATORPOTDILM803P220VCACONTATORMANOBRAPOTENC...
2,80034375,ERSA,MAT016,CONTATOR POT 100-C09 3P 230VCA,CONTATOR MANOBRA POTENCIA; MODELO: 100-C09; NU...,CONTATORPOT100C093P230VCACONTATORMANOBRAPOTENC...

In [29]:
str_path = r"..\db\db_itens_revision.db"
itens = "', '".join(df_mot["CODIGO"].values)
str_sql = f"SELECT * FROM ITENS WHERE COD_ITEM IN ('{itens}')ORDER BY NEW_LONG_TEXT ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(3)

,COD_ITEM,SM,LONG_TEXT,NEW_SHORT_TEXT,NEW_LONG_TEXT,DICT_NEW_LONG_TEXT,OBSERV,STATUS,DT
0,80068341,Z3,CONTATOR MANOBRA POTENCIA,,,,,,
1,80103443,Z5,CONTATOR MANOBRA POTENCIA;MODELO: 3RT1076 ; NU...,,,,,,
2,80038002,Z3,CONTATOR TRIPOLAR LC1D18BD 440V 32A TELEMECANIQUE,,,,,,

In [38]:
df_val = df_mot.merge(df, how="left", left_on="CODIGO", right_on="COD_ITEM")
df_val.drop(index=df_val[df_val["COD_ITEM"].isna()].index, inplace=True)

df_val.head(3)

,CODIGO,TP_MAT,GRP_MERC,DESC_CURTA,TEXTO_LONGO,CHAVE,COD_ITEM,SM,LONG_TEXT,NEW_SHORT_TEXT,NEW_LONG_TEXT,DICT_NEW_LONG_TEXT,OBSERV,STATUS,DT
0,80034027,ERSA,MAT016,CONTATOR POT C43DJ10 3P 24VCC,CONTATOR MANOBRA POTENCIA; MODELO: C43DJ10; NU...,CONTATORPOTC43DJ103P24VCCCONTATORMANOBRAPOTENC...,80034027,Z2,CONTATOR MANOBRA POTENCIA; MODELO: C43DJ10; NU...,CONTATOR POT C43DJ10 3P 24VCC 43A,CONTATOR MANOBRA POTENCIA; MODELO: C43DJ10; NU...,"{'MODELO': ['C43DJ10', 'C43DJ10', 'C43DJ10'], ...",,TOTAL,2024.08.20
1,80034028,ERSA,MAT016,CONTATOR POT DILM80 3P 220VCA,CONTATOR MANOBRA POTENCIA; MODELO: DILM80; NUM...,CONTATORPOTDILM803P220VCACONTATORMANOBRAPOTENC...,80034028,Z2,CONTATOR MANOBRA POTENCIA; MODELO: DILM80; NUM...,CONTATOR POT DILM80 3P 220VCA 80A,CONTATOR MANOBRA POTENCIA; MODELO: DILM80; NUM...,"{'MODELO': ['DILM80', 'DILM80', 'DILM80'], 'NU...",,TOTAL,2024.08.20
2,80034375,ERSA,MAT016,CONTATOR POT 100-C09 3P 230VCA,CONTATOR MANOBRA POTENCIA; MODELO: 100-C09; NU...,CONTATORPOT100C093P230VCACONTATORMANOBRAPOTENC...,80034375,Z2,CONTATOR MANOBRA POTENCIA; MODELO: 100-C09; NU...,CONTATOR POT 100-C09 3P 230VCA 9A,CONTATOR MANOBRA POTENCIA; MODELO: 100-C09; NU...,"{'MODELO': ['100-C09', '100-C09', '100-C09'], ...",,TOTAL,2024.08.20

In [36]:
df_val.loc[250, "TEXTO_LONGO"]

'CONTATOR MANOBRA POTENCIA;MODELO: LC1D; NUMERO POLOS: TRIPOLAR; TENSAO BOBINA: 24 VCC; FREQUENCIA: 60 HZ; CORRENTE NOMINAL: 12 A; CONTATO AUXILIAR: 1NA+1NF; TERMINAL LIGACAO: PARAFUSO; FABRICANTE-REFERENCIA: SCHNEIDER-LC1D12BD; FABRICANTE: SCHNEIDER; '

In [40]:
conn = sqlite3.connect(r"..\db\db_itens_revision.db")
cursor = conn.cursor()
for sku, grp_merc in df_val[["CODIGO", "TEXTO_LONGO"]].to_records(index=False):
    cursor.execute("""
    UPDATE ITENS
    SET LONG_TEXT = ?, STATUS = ''
    WHERE COD_ITEM = ?
    """, (grp_merc, sku))
conn.commit()
conn.close()

In [24]:
str_path = r"..\db\db_itens_revision.db"
itens = "', '".join(df_mot["CODIGO"].values)
str_sql = f"SELECT COD_ITEM, NEW_SHORT_TEXT, NEW_LONG_TEXT, OBSERV, STATUS, LONG_TEXT FROM ITENS WHERE COD_ITEM == '80054017' ORDER BY STATUS, NEW_LONG_TEXT ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df

,COD_ITEM,NEW_SHORT_TEXT,NEW_LONG_TEXT,OBSERV,STATUS,LONG_TEXT
0,80054017,"MOTORRED FA77/G DRN112M4 38,23 4P 4KW",MOTORREDUTOR; MODELO CARCACA REDUTOR: FA77/G; ...,,TOTAL,MOTORREDUTOR;MODELO CARCACA REDUTOR: FA77/G; M...

In [7]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT COD_ITEM, SM, NEW_SHORT_TEXT, NEW_LONG_TEXT, OBSERV, STATUS, DT, LONG_TEXT FROM ITENS WHERE NEW_LONG_TEXT LIKE '%CONTATO%' AND LONG_TEXT LIKE 'COMPONENT%' AND STATUS != '' ORDER BY STATUS, NEW_LONG_TEXT ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()
df.head(2)

,COD_ITEM,SM,NEW_SHORT_TEXT,NEW_LONG_TEXT,OBSERV,STATUS,DT,LONG_TEXT
0,80089256,Z2,CONTATOR AUX 3RH 24VCC 2NA+2NF,CONTATOR AUXILIAR; MODELO: 3RH; TENSAO BOBINA:...,CORRENTE NOMINAL,PARCIAL,2024.08.23,COMPONENTES DE MAQUINAS / EQUIPAMENTOS;NOME BA...
1,80089254,Z2,CONTATOR AUX 3RH 24VCC 3NA+1NF,CONTATOR AUXILIAR; MODELO: 3RH; TENSAO BOBINA:...,CORRENTE NOMINAL,PARCIAL,2024.08.23,COMPONENTES DE MAQUINAS / EQUIPAMENTOS;NOME BA...

In [8]:
df.to_excel("PadronizaçãoContator_Contato.xlsx", index=False)

In [15]:
df["N_CARAC"] = df["NEW_SHORT_TEXT"].apply(len)

In [16]:
df.to_excel("CONTATOR MANOBRA POTENCIA_rev.xlsx", index=False)

In [4]:
str_path = r"..\db\db_itens_revision.db"
str_sql = f"SELECT * FROM PD_CARAC_CONT WHERE PD = 'CONTATOR MANOBRA POTENCIA' ORDER BY CARACTERISTICA ASC"
conn = sqlite3.connect(str_path)
df = pd.read_sql(str_sql, conn)

conn.close()

df.to_excel("Cont.xlsx", index=False)
df.head(3)

,PD_ABREV,PD,CARACTERISTICA,DESC_LONGA,DESC_CURTA,SIGLA,CHAVE_CONT
0,01-CPOTE,CONTATOR MANOBRA POTENCIA,CARACTERISTICAS ADICIONAIS,CONTATOR SEGURANCA,CONTATOR SEGURANCA,,CONTATOR SEGURANCA
1,01-CPOTE,CONTATOR MANOBRA POTENCIA,CARACTERISTICAS ADICIONAIS,TAMANHO S0,TAMANHO S0,,TAMANHO S0
2,01-CPOTE,CONTATOR MANOBRA POTENCIA,CARACTERISTICAS ADICIONAIS,COM DIODO,COM DIODO,,COMDIODO

In [ ]:
conn = sqlite3.connect(r"..\db\db_itens_revision.db")
cursor = conn.cursor()
for sku, grp_merc in df_val[["CODIGO", "TEXTO_LONGO"]].to_records(index=False):
    cursor.execute("""
    UPDATE ITENS
    SET LONG_TEXT = ?, STATUS = ''
    WHERE COD_ITEM = ?
    """, (grp_merc, sku))
conn.commit()
conn.close()